# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/

# Docker and Git metadata
.dockerignore
.gitignore
.git/
.github/

# Test and cache files
tests/
.pytest_cache/

# Documentation (optional)
README.md

# Any local config files you don’t want in the image
*.env
